extends layout

block content 

  h2 #{item.name} (#{item._id})

  if item.image
    img(src=item.imagePath)

  p #[strong $#{item.price}] - stock:#{item.number_in_stock} units
  p= item.description
  h3 Categories
    ul
      each category in item.category
        li
          a(href=category.url) #{category.name}

  form(action=item.url+"/delete")
    button.btn.btn-danger(type="submit") Delete

  form(action=item.url+"/update")
    button.btn.btn-primary(type="submit") Update       
